<!--
/*
 * Copyright (C) 2007 J. "MUFTI" Scheurich
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program (see the file "COPYING" for details); if 
 * not, write to the Free Software Foundation, Inc., 
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
-->
<h1>Programmstart</h1>
<br>
<br>
Auf manchen Systemen (Linux KDE/Gnome und SGI IRIX 4dwm) gibt es ein eigenes 
Programmicon fuer "dune4kids", es sieht dann irgendwie so aus:<br>
<img src="dune4kids2.png">
<img src="dune4kids.png">
<img src="dune4kids3.png">
<img src="dune4kids4.png">
<br><br>
Auf Systemen wie Micro$oft Windows oder MacOSX ist aber nur ein 
(anderes) Programmicon vorhanden:<br>
<img src="dune.png">
<img src="dune2.png">
<img src="dune4.png">
<img src="dune5.png">
<img src="dune3.png">
<!-- <img src="dune6.png"> -->
<img src="dune7.png">
<br><br>
Normalerweise startet das Programm dieses Icons beim ersten Mal 
in der englischen Vollversion, in der Regel mit sehr vielen Icons 
und zu vielen Menues.<br>
<a href="dune4kids_start_de.html" target="_blank">
  <img src="dune_start_en.png"><br><br>
</a>
Es muss dann zuerst einmal auf Deutsch und dann auf dune4kids umgestellt 
werden.<br> Man muss <a href="dune4kids_start_de.html" target="_blank"> 
hier draufklicken</a> um auf die richtige Version umschalten zu 
k&ouml;nnen.<br>
<img src="frog01.png">
<br><br>
<h2>Was tun, wenn das Programm abst&uuml;rtzt ?</h2>
Mit etwas Gl&uuml;ck kann man den letzten Stand neu laden, wenn man bei
den aktuellen Dateien eine neue ".dune_crash" Datei findet.
<br>
<img src="frog00.png">
<br>
<h1>Navigation</h1>
Navigation bedeutet das Herumbewegen im 3D-Modell.<br>
Das ist wichtig, denn es kann sehr leicht passieren, dass man vor oder in 
sein Werkstueck ger&auml;t und deswegen ueberhaupt nichts mehr sieht.<br><br>
Wenn man nichts mehr sieht, gibt es zwei Vorgehensweisen, die man meistens
gemeinsam anwendet:
<ul>
<li> <b>Man geht nach hinten</b><br>
     Vorw&auml;rts und Rueckw&auml;rts geht man, indem man gemeinsam die linke 
     Maustaste und die "Shift"-Taste ("Hochstelltaste") dr&uuml;ckt.
     In der Einstellung "Examine" (wenn das Icon _____ gedrueckt ist)
     funktioniert das auch mit der mittleren Taste einer 3-Maus.
     Bei einer Maus mit Scrollrad muss man das mittlere Scrollrad
     dr&uuml;cken.
</li>
<li> <b>Man dreht die 3D-Welt</b><br>
     Drueckt man gemeinsam die linke Maustaste und die "Control"-Taste 
     ("strg" auf der deutschen Tastatur) dann dreht sich die ganze 
     3D-Welt vor einem. Das wird normalerweise dazu benutzt, um
     ein neu erzeugtes Objekt von allen Seiten betrachten zu koennen,
     hilft aber auch, wenn man im Nichts steht.<br>
     Man muss aber daran denken, dass der Inhalt nicht nur hinter einem
     versteckt sein kann, sondern auch oben, unten, links oder rechts.<br>
     Das bedeutet, dass man oft ganz sch&ouml;n "kurbeln" muss, bis man
     sein Objekt wiederfindet.
</li>
</ul>
Zus&auml;tzlich gibt es noch die M&ouml;glichkeit, die linke Maustaste,
die "Shift"-Taste und die "Control"-Taste gleichzeitig zu druecken.
Damit kann man sich in Richtung der Bildschirmfl&auml;che, also nach 
oben, unten, links oder rechts bewegen.
<br>
<h1>Icons f&uuml;r Ver&auml;nderungen</h1>
Um zu zeigen, wie man Dinge ver&auml;ndern kann, wird einfach mal ein
Quader erzeugt.
<br>
<img src="new_box.png">
<br><br>
Icons, um ganze Objekte zu ver&auml;ndern:
<ul>
<li>Verschieben: <img src="schieb.png"><br>
<img src="translate_icon.png">
</li>
<li>Drehen: <img src="rot.png"><br>
<img src="rotate_icon.png">
</li>
<li>Vergr&ouml;ssern/verkleinern: <img src="scale.jpg"><br>
<img src="scale_icon.png">
</li>
<li>Gleichartig vergr&ouml;ssern/verkleinern: <img src="uniform_scale.png"><br>
<img src="uniform_scale_icon.png">
</li>
<li>Drehpunkt verschieben: <img src="center.jpg"><br>
<img src="turnpoint_icon.png">
</li>
</ul>
Mit weissen K&auml;stchen kann man Objekte selber ver&auml;ndern.
Mit den einzelnen Pfeilicons <img src="xyz.png"> kann man die Richtung
steuern. <br>
Wird zum Beispiel nur der gr&uuml;ne Pfeil hereingedr&uuml;ckt, 
<img src="y_only.jpg"> kann bei<br> 
<img src="yonly_1.jpg"> 
<br><br> 
ein K&auml;stchen nur in Richtung des gr&uuml;ne Pfeils geschoben werden.<br>
<img src="yonly_2.jpg">. 
<br><br>
Genau wie man Pfeile auch an den Sch&auml;ften statt an den Spitzen
packen kann, um in einer Ebene verschieben zu k&ouml;nnen, kann man
auch zwei Pfeile gleichzeitig hereingedr&uuml;cken <img src="xz_only.jpg">, 
um ein K&auml;stchen in einer Ebene verschieben zu k&ouml;nnen.
<h1>Beispiel f&uuml;r Animation</h1>
<img src="frog02.png">
<br>
<img src="frog02a.png">
<br>
<img src="frog04a.png">
<br>
<br>
Viele Befehle funktionieren nur, wenn das Richtige angew&auml;hlt ist 
(mit der Maus angeklickt worden ist)<br>
Hier muss ein "Transform" angew&auml;hlt werden
<br>
<br>
<img src="frog04a.png">
<img src="frog05a.png">
<img src="frog06a.png">
<img src="frog07a.png">
<img src="frog08a.png">
<img src="frog09a.png">
<h1>Beispiel  f&uuml;r Modellierung</h1>
<br>
<br>
<img src="frog02b.png">
<br>
<img src="frog02c.png">
<img src="pfeil.png">
<img src="frog03b.png">
<img src="pfeil.png">
<img src="frog04.jpg">
<br>
<img src="frog05.png">
<img src="pfeil.png">
<img src="frog06.png">
<img src="frog07.png">
<br>
<img src="frog08b.png">
<img src="pfeil.png">
<img src="frog08.png">
<br>
<img src="frog04.jpg">
<img src="pfeil.png">
<img src="frog11.jpg">
<br>
<img src="frog02.png">
<img src="frog14.jpg">
<br>
<img src="frog15.png">
<img src="frog16.jpg">
<img src="frog17.jpg">
<br>
<img src="frog18.png">
<br>
<img src="frog20.jpg">
<img src="pfeil.png">
<img src="frog21.jpg">
<br>
<img src="frog22.jpg">
<img src="pfeil.png">
<img src="frog23.jpg">
<br>
<img src="frog24.jpg">
<img src="frog25.png">
<br>
<img src="frog26.jpg">
<br>
<img src="frog27.png">
<img src="frog28.jpg">
<br>
<img src="frog29.jpg">
<img src="pfeil.png">
<img src="frog30.jpg">
<br>
<img src="frog31.jpg">
<img src="frog32.png">
<img src="frog33.png">
<img src="frog34.png">
<img src="frog35.png">
<img src="frog36.png">
<img src="frog37.jpg">
<img src="frog38.png">
<br>
<img src="frog40.jpg">
<img src="pfeil.png">
<img src="frog41.jpg">
<br>
<img src="frog42.jpg">
<img src="pfeil.png">
<img src="frog43.png">
<img src="frog44.jpg">
<br>
<img src="frog45.jpg">
<img src="frog47.jpg">
<img src="frog48.png">
<img src="pfeil.png">
<img src="frog49.png">
<img src="frog05a.png">
<img src="frog51.png">
<img src="frog52.jpg">
<img src="frog53.png">
<img src="frog54.jpg">
<br>
<img src="frog55.png">
<br>
<img src="frog56.jpg">
<br>
<img src="frog57.png">
